{% extends 'base.html' %}
{% block content %}

<h1>Video Game Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ videogame.title }}</span>
        <p>Genre: {{ videogame.genre }}</p>
        <p>Description: {{ videogame.description|linebreaks }}</p>
        {% if videogame.release_year > 0 %}
        <p>Release Year: {{ videogame.release_year }}</p>
        {% else %}
        <p>Release Year: Pre-historic</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'videogames_update' videogame.id %}">Edit</a>
        <a href="{% url 'videogames_delete' videogame.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_stream' videogame.id %}" method="POST">
      {% csrf_token %}
      <!-- Render the inputs -->
      {{ stream_form.as_p }}
      <input type="submit" class="btn" value="Add Stream">
    </form>
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        {% for stream in videogame.stream_set.all %}
        <tr>
          <td>{{stream.date}}</td>
          <td>{{stream.time}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<hr>
<div class="row">
  <div class="col s6">
    <h3>Streaming Platforms</h3>
    {% if videogame.platforms.count %}
    {% for platform in videogame.platforms.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          {{ platform.name }} at {{ platform.link }}
        </span>
      </div>
      <div class="card-action">
        <form action="{% url 'unassoc_platform' videogame.id platform.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn">Remove</button>
        </form>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h5>No Streaming Platforms 😪</h5>
    {% endif %}
  </div>
  <div class="col s6">
    <h3>Available Platforms</h3>
    {% if platforms.count %}
      {% for platform in platforms.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            {{ platform.name }} at {{ platform.link }}
          </span>
        </div>
        <div class="card-action">
          <form action="{% url 'assoc_platform' videogame.id platform.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn">Add</button>
          </form>
        </div>
      </div>
      {% endfor %}
    {% else %}
    <h5>{{videogame.name}} Already Has All Platforms Available</h5>
    {% endif %}
  </div>
</div>

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  // add additional JS to initialize select below
  const timeEl = document.getElementById('id_time');

  M.Timepicker.init(timeEl, {
    autoClose: true,
    twelveHour: false
  });
</script>
{% endblock %}